<h1>Manage groups</h1>

<h3>Owned groups</h3>
<%= render :partial => 'list', :locals => { groups: @groups[:owner] } %>

<h3>Member of</h3>
<%= render :partial => 'list', :locals => { groups: @groups[:member] } %>


<%= link_to 'New Group', new_group_path %>
