<div id="tips_bar">
<div class="span-8">
    	<div class="step_box">
    		<div class="step_1 " ></div>
	 		<div class="title_box">Zarejestruj się !</div>
	 		<div class="text_box">
	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut bibendum tempus dolor et pellentesque. Morbi auctor commodo tellus sit amet sollicitudin. Suspendisse potenti. Mauris sed ipsum eleifend nunc pellentesque varius sit amet et enim. Aenean venenatis interdum tortor, et fermentum lorem bibendum vel. Aliquam tempus pharetra pharetra. In nisi libero, varius et laoreet in, porta et elit. Fusce ac lorem eu dui euismod dictum.  		
	 		</div>
	 	</div>
    </div>


    <div class="span-8">
    	<div class="step_box ">
	<div class="step_2 " ></div>
	 	
	 	<div class="title_box">Znajdź odpowiednią grupę</div>
        <%= link_to 'Find groups', groups_path %> <br /<br />
 	<div class="text_box">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut bibendum tempus dolor et pellentesque. Morbi auctor commodo tellus sit amet sollicitudin. Suspendisse potenti. Mauris sed ipsum eleifend nunc pellentesque varius sit amet et enim. Aenean venenatis interdum tortor, et fermentum lorem bibendum vel. Aliquam tempus pharetra pharetra. In nisi libero, varius et laoreet in, porta et elit. Fusce ac lorem eu dui euismod dictum. 
		</div>
		</div>
    </div>

    <div class="span-8 last">
	<div class="step_box">
		<div class="step_3 " ></div>
        	<div class="title_box">Pobierz aplikacje i korzytaj do woli!</div>
        	<div class="text_box">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut bibendum tempus dolor et pellentesque. Morbi auctor commodo tellus sit amet sollicitudin. Suspendisse potenti. Mauris sed ipsum eleifend nunc pellentesque varius sit amet et enim. Aenean venenatis interdum tortor, et fermentum lorem bibendum vel. Aliquam tempus pharetra pharetra. In nisi libero, varius et laoreet in, porta et elit. Fusce ac lorem eu dui euismod dictum. 
							</div>
	
	</div>
    </div>
</div>
