<% content_for :content do %>
  <h2>Welcome to InfoReminder app</h2>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut bibendum tempus dolor et pellentesque. Morbi auctor commodo tellus sit amet sollicitudin. Suspendisse potenti. Mauris sed ipsum eleifend nunc pellentesque varius sit amet et enim. Aenean venenatis interdum tortor, et fermentum lorem bibendum vel. Aliquam tempus pharetra pharetra. In nisi libero, varius et laoreet in, porta et elit. Fusce ac lorem eu dui euismod dictum.
<% end %>
<%= render :template => 'layouts/informational' %>
