<div class="event_list_element">
  <p class="event_head">
    <%= event.title %>
    <span>
      <%= event.date %>
    <span>
  </p>
  <p class="event_details">
    <%= event.description %>
  </p>
  <p class="event_tail">
    within group <%= link_to event.group.name, browse_events_path(group_id: event.group.id) %>
  </p>
</div>
