<div id="middle-panel">
  <%= render :template => 'layouts/panel-menu' %>
  <div class="span-18 last">
    <div id="right_box_panel">
      <div id="right_box_panel_inner">
        <h1><%= t :event_browser %></h1>
        <div id="event_calendar">
          <%= render :partial => 'calendar' %>
        </div>
        <div id="event-left">
        <%= render :partial => 'list', :locals => { events: events } %>
        </div>
      </div>
    </div>
  </div>
</div>
