<div class="span-24 ">
  <div id="logged_middle">
    <div id="logged_middle_inner">
      <h1>New event</h1>
      <%= render 'form' %>

      <%= link_to 'Back', group_events_path %>
    </div>
  </div>
</div>
