<div id="middle-panel">
  <%= render :template => 'layouts/panel-menu' %>
  <div class="span-18 last">
    <div id="right_box_panel">
      <div id="right_box_panel_inner">
        <h1><%=t :new_event %></h1>
        <%= render 'form' %>

        <%= link_to t(:back), group_events_path %>
      </div>
    </div>
  </div>
</div>
