<div class="span-24 ">
  <div id="logged_middle">
    <div id="logged_middle_inner">
      <h1>Upcoming events</h1>
      <%= render :partial => 'list', :locals => { events: @events } %>
    </div>
  </div>
</div>
