/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

div#user_menu 
{
  margin: 3px;
  padding: 3px;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;

}

div#credentials_information
{
  float: right;
  text-align: right;
}

input.copyable_text {
  background-color: #FFFF66;

  text-align: center;

  width: 500px;
  height: 20px;
}

div#loading_bar {
  position: fixed;
  
  top: 0px;
  left: 0px;
  width: 100%;

  padding: 2px;

  border-radius: 0px 0px 5px 5px;
  border: 1px solid;

  display: none;

  background-color: gray;
  color: white;

  text-align: center;


}
