<p>Welcome <%= @resource.email %>!</p>

<p><%=t : confirm_account_notice %></p>

<p><%= link_to t(: confirm_account), confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>
